body {
    background-color: whitesmoke;
  }
  h1 {
    text-align: center;
  }
  #main {
    display: flex;
    justify-content: center;
    justify-content: space-between;
  }
  .makeButton { 
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    background-color: lightgray;
    border: 2px solid black;
    border-radius: 50%;
    height: 100px;
    width: 100px;
    padding: 10px;
    margin-top: auto;
    margin-right: auto;
    margin-bottom: 5px;
    margin-left: auto;
  }
  .CatObject {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    background-color: #f593b5;
    border: 3px solid #e67099;
    border-radius: 50%;
    height: 100px;
    width: 100px;
    padding: 10px;
    margin-top: auto;
    margin-right: auto;
    margin-bottom: 5px;
    margin-left: auto;
  }
  .DogObject {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    background-color: #fffc9c;
    border: 3px solid #fffb78;
    border-radius: 50%;
    height: 100px;
    width: 100px;
    padding: 10px;
    margin-top: auto;
    margin-right: auto;
    margin-bottom: 5px;
    margin-left: auto;
  }
  .SheepObject {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    background-color: #d6ffe6;
    border: 3px solid #bff2d3;
    border-radius: 50%;
    height: 100px;
    width: 100px;
    padding: 10px;
    margin-top: auto;
    margin-right: auto;
    margin-bottom: 5px;
    margin-left: auto;
  }
  .HorseObject {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    background-color: #95e5f5;
    border: 3px solid #7cd4e6;
    border-radius: 50%;
    height: 100px;
    width: 100px;
    padding: 10px;
    margin-top: auto;
    margin-right: auto;
    margin-bottom: 5px;
    margin-left: auto;
  }