body {
    background-color: whitesmoke;
  }
  h1 {
    text-align: center;
  }
  #main {
    display: flex;
    justify-content: center;
    justify-content: space-between;
  }
  .makeButton { 
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: lightgray;
    border: 2px solid black;
    border-radius: 50%;
    height: 100px;
    width: 100px;
    padding: 10px;
    margin: auto;
  }
  .catObject {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f593b5;
    border: 3px solid #e67099;
    border-radius: 50%;
    height: 100px;
    width: 100px;
    padding: 10px;
    margin: auto;
  }
  .dogObject {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fffc9c;
    border: 3px solid #fffb78;
    border-radius: 50%;
    height: 100px;
    width: 100px;
    padding: 10px;
    margin: auto;
  }
  .sheepObject {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #d6ffe6;
    border: 3px solid #bff2d3;
    border-radius: 50%;
    height: 100px;
    width: 100px;
    padding: 10px;
    margin: auto;
  }
  .horseObject {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #95e5f5;
    border: 1px solid #7cd4e6;
    border-radius: 50%;
    height: 100px;
    width: 100px;
    padding: 10px;
    margin: auto;
  }